<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password email</title>
    <style>
      * {
        box-sizing: border-box;
        color: black;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
        font-size: 18px;
      }
      .title {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .link {
        font-style: italic;
        font-weight: 600;
        color: tomato;
      }
    </style>
  </head>

  <body>
    <h1 class="title">Hello, {{name}}!</h1>
    <p class="text">
      Click <a class="link" href="{{link}}">here</a> to reset your password!
    </p>
  </body>
</html>